body{
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	font-family: 'Open Sans',sans-serif;
	background-color: #2F4F4F;
}
header{
	background: rgba(114, 38, 38, 0.735);
	justify-content: space-between;
	padding: 0px 10px;
	/*text-align: center;*/
}
table{
	text-orientation: center;
	border-collapse: collapse;
	margin: auto auto auto;
}
table th{
	/*border-right:  4px solid;*/
	text-align: right;
}
table,tr,td {
	text-align: center;
	padding: 5px;

}
input[type="submit"]{
	background: #dc143c;
	color: white;
	padding: 15px 60px;
	margin: 10px auto;
	border-radius: 30px;
	cursor: alias;
}

.datos{
	text-orientation: center;
	border-collapse: collapse;
	margin: auto auto auto;
}
.datos tr td{
	text-align: center;
	border: 1px solid;
	padding: 5px;	
}
